<div id='evevntsBox' class="container">
     
    {{#each elems}}
    <div class="well eventElem">
        <h1>{{this.eventTitle}}</h1>
        <img class="eventPreviewImg" src="{{this.img}}" alt="">
        <div class="content">{{this.description}}
            <div>
                <tags>{{this.tags}}</tags>
                <div>{{this.eventDate}}</div>
                <div>{{this.ticketPrice}}</price>

                    {{#if user}}
                    <a href="buyTicket{{this.id}}"><button>Info</button></a>
                    {{/if}}
                </div>
                <div>{{this.author.fullName}}</div>
            </div>
        </div>
    </div>
    {{/each}}
</div>